footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer .partes {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 80px;
}

footer .partes .parte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

footer .partes .parte.um {
  width: 50%;
}

footer .partes .parte img {
  width: 100%;
  max-width: 200px;
  filter: brightness(1000%);
}


footer .partes .parte p {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  opacity: .8;
  line-height: 1.5;
  font-weight: bold;
  max-width: 300px;
  margin: 20px 0 0 0;
}

footer .partes .parte a {
  font-family: var(--bold);
  font-size: var(--f2);
  color: var(--cor-branco);
  opacity: .8;
  line-height: 1.5;
  text-decoration: underline;
  font-weight: bold;
  margin: 20px 0 0 0;
  transition: all .3s;
}


footer .partes .parte a:hover {
  font-family: var(--bold);
  color: var(--cor-azul);
  font-size: 20px;
  text-decoration: none;
  text-shadow: 8px 7px 50px var(--cor-azul);
}

footer .partes .parte h3 {
  font-family: var(--bold);
  font-size: var(--f4);
  color: var(--cor-azul);
  opacity: .8;
  line-height: 1.5;
  font-weight: bold;
  margin: 20px 0 0 0;
}


footer .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 80px;
  border-top: 1px solid var(--cor-cinza);
}

footer .copy p {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  line-height: 1.5;
}

/* Responsivo */

@media screen and (max-width:1000px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  footer .partes {
    flex-direction: column;
    width: 100%;
    padding: 80px 30px 30px 30px;
  }
  
  footer .partes .parte {
    width: 100%;
    margin: 0  0 30px 0;
  }


  footer .partes .parte.um {
    width: 100%;
  }

  
  footer .partes .parte.um p{
    max-width: 400px;
  }

  footer .copy {
    width: 100%;
    padding: 30px;
  }
  
  footer .copy p {
    text-align: center;
  }
  
}