.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #101014, #16161b);
  background: -webkit-linear-gradient(0deg, #101014, #161616);
  width: 100%;
  padding: 60px 80px;
  overflow: hidden;
  position: relative;
}

.produtos .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.produtos .titulo h2{
  font-family: var(--bold);
  font-size: var(--f5);
  color: var(--cor-branco);
  line-height: 1.3;
  max-width: 600px;
}

.produtos .titulo span{
  color: var(--cor-azul);
}

.produtos .titulo p{
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  opacity: 0.7;
  margin: 10px 0 0 0 ;
}

.produtos .quadros {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 0 0;
  width: 100%;
  z-index: 2;
}

.produtos .quadros .quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(25% - 10px);
  background-color: #ffffff1e;
  border-radius: 10px;
  position: relative;
  transition: all .3s;
}

.produtos .quadros .quadro.destaque{
  background-color: var(--cor-preto);
}

.produtos .quadros .quadro:hover {
  background-color: #1DA6FF10;
}

.produtos .quadros .quadro .foto{
  width:100%;
  height: 280px; 
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0 ;
}

.produtos .quadros .quadro .texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 110px 30px;
  height: 100%;
}

.produtos .quadros .quadro .texto h3 {
  font-family: var(--regular);
  font-size: var(--f4);
  color: var(--cor-branco);
  font-weight: bold;
  letter-spacing: 3px;
}

.produtos .quadros .quadro .texto p {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  opacity: 0.7;
  max-width: 260px;
  line-height: 1.5;
  margin: 10px 0 0 0;
}

.produtos .quadros .quadro .texto a {
  font-family: var(--bold);
  font-size: var(--f2);
  color: var(--cor-azul);
  border-top: 1px solid var(--cor-azul);
  width: 100%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .3s;
}

.produtos .quadros .quadro .texto a:hover {
  color: var(--cor-branco);
  background-color: #2222224d;
}

.produtos .blush{
  width: 1000px;
  height: 1000px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(#1DA6FF , transparent 50%);
  opacity: 0.2;
  z-index: 1;
}

.produtos .blush.um{
  bottom: -300px;
  left: -200px;
  animation: blushOpacidade 10s  linear infinite;
}

.produtos .blush.dois{
  top: -300px;
  right: -200px;
  opacity: 0.4;
  animation: blushOpacidade 10s  linear infinite;
}

@keyframes blushOpacidade  {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50%{
    opacity: 0.5;
    transform: scale(1.3);
  }
  100%{
    opacity: 0.2;
    transform: scale(1);
  }
}

/* Responsivo */

@media screen and (max-width:1000px) {
  .produtos {
    padding: 50px 0;
  }

  .produtos .titulo {
    padding: 0 30px;
  }
  
  .produtos .titulo h2{
    font-size: var(--f4);
    line-height: 1.5;
    max-width: 300px;
  }
  
  .produtos .quadros {
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 60px 20px 0 30px;
  }

  .produtos .quadros::-webkit-scrollbar{
    display: none;
  }
  
  .produtos .quadros .quadro {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    margin: 0 10px 0 0;
  }
  
  .produtos .quadros .quadro.destaque{
    background-color: var(--cor-preto);
  }
  
  
  .produtos .quadros .quadro .foto{
    height: 180px; 
    min-height: 140px;
  }
  
  .produtos .blush{
    width: 1000px;
    height: 1000px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(#1DA6FF , transparent 50%);
    opacity: 0.2;
    z-index: 1;
  }
  
  .produtos .blush.um{
    bottom: -300px;
    left: -200px;
    animation: blushOpacidade 10s  linear infinite;
  }
  
  .produtos .blush.dois{
    top: -300px;
    right: -200px;
    opacity: 0.4;
    animation: blushOpacidade 10s  linear infinite;
  }
  
  @keyframes blushOpacidade  {
    0% {
      opacity: 0.2;
      transform: scale(1);
    }
    50%{
      opacity: 0.5;
      transform: scale(1.3);
    }
    100%{
      opacity: 0.2;
      transform: scale(1);
    }
  }
  
  
}