.faixa {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 60px 80px;
}

.faixa .quadro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #101014;
  width: calc(25% - 5px);
  
  border: 1px solid var(--cor-cinza);
}

.faixa .quadro.destaque {
  background-color: #1a1a20;
}

.faixa .quadro img {
  width: 100%;
  max-width: 50px;
  margin: 0 10px 0 0;
}

.faixa .quadro p {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  font-weight: bold;
}

/* Responsivo */

@media screen and (max-width: 1000px){
  .faixa {
    flex-wrap: wrap;
    padding: 40px 30px 30px 30px;
  }
  
  .faixa .quadro {
    flex-direction: column;
    padding: 30px 20px;
    width: calc(50% - 5px);
    text-align: center;
    margin: 0 0 10px 0;
    /* border: 1px solid var(--cor-azul); */
  }
  
  
  .faixa .quadro img {
    max-width: 20px;
  }
  
  .faixa .quadro p {
    max-width: 120px;
    line-height: 1.5;
    margin-top: 5px;
    text-align: center;
  }
}