.produtos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #101014, #16161b);
  background: -webkit-linear-gradient(0deg, #101014, #161616);
  width: 100%;
  padding: 120px 80px 60px 80px;
  overflow: hidden;
  position: relative;
}