.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #101014, #16161b);
  background: -webkit-linear-gradient(0deg, #101014, #161616);
  width: 100%;
  padding:80px;
  overflow: hidden;
  position: relative;
}

.formulario .quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  background-color: #ffffff10;
  border: 1px solid #ffffff10;
  z-index: 2;
}

.formulario .quadro .capa {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.formulario .quadro .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding:  30px;
}


.formulario .quadro .titulo h2 {
  font-family: var(--bold);
  color: var(--cor-branco);
  font-size: var(--f4);
  border-bottom: 1px solid #ffffff10;
}


.formulario .quadro .titulo p {
  font-family: var(--regular);
  color: var(--cor-branco);
  font-size: var(--f2);
  font-weight: bold;
  opacity: 0.7;
  max-width: 350px;
}

.formulario .quadro form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px 30px 30px;
  width: 100%;
}

.formulario .quadro form .input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 0 10px 0;
}


.formulario .quadro form .input img {
  position: absolute;
  left: 20px;
  width: 100%;
  max-width: 15px;
}

.formulario .quadro form .input input {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  font-weight: 400;
  background-color: #ffffff10;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.4s;
}


.formulario .quadro form .input.icone input {
  padding: 20px 20px 20px 50px;
} 

.formulario .quadro form .input input::placeholder{
  opacity: 1;
  color: #ffffff6a;
}


.formulario .quadro form .input input:focus {
  background-color: #ffffff1a;
}

.formulario .blush{
  width: 1000px;
  height: 1000px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(#1DA6FF , transparent 50%);
  opacity: 0.2;
  z-index: 1;
}

.formulario .blush.um{
  bottom: -300px;
  left: -200px;
  animation: blushOpacidade 10s  linear infinite;
}

.formulario .blush.dois{
  top: -300px;
  right: -200px;
  opacity: 0.4;
  animation: blushOpacidade 10s  linear infinite;
}