.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #101014, #16161b);
  background: -webkit-linear-gradient(0deg, #101014, #161616);
  width: 100%;
  padding:80px;
  overflow: hidden;
  position: relative;
}

.formulario .quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  background-color: #ffffff10;
  border: 1px solid #ffffff10;
  z-index: 2;
}

.formulario .quadro .capa {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.formulario .quadro .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding:  30px;
}


.formulario .quadro .titulo h2 {
  font-family: var(--bold);
  color: var(--cor-branco);
  font-size: var(--f4);
  border-bottom: 1px solid #ffffff10;
}


.formulario .quadro .titulo p {
  font-family: var(--regular);
  color: var(--cor-branco);
  font-size: var(--f2);
  font-weight: bold;
  opacity: 0.7;
  max-width: 350px;
}


.formulario .quadro form button {
  font-family: var(--bold);
  font-size: var(--f3);
  color: var(--cor-branco);
  background-color: var(--cor-azul);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  transition: all .4s;
}


.formulario .quadro form button:hover {
  background-color: var(--cor-verde);
  box-shadow: 0 20px 30px 0 #1ba25a2f;
}

.formulario .quadro form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px 30px 30px;
  width: 100%;
}

.formulario .quadro form .input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 0 10px 0;
}


.formulario .quadro form .input img {
  position: absolute;
  left: 20px;
  width: 100%;
  max-width: 15px;
  pointer-events: none;
}

.formulario .quadro form .input input {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  font-weight: 400;
  background-color: #ffffff10;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.4s;
}


.formulario .quadro form .input.icone input {
  padding: 20px 20px 20px 50px;
} 

.formulario .quadro form .input input::placeholder{
  opacity: 1;
  color: #ffffff6a;
}


.formulario .quadro form .input input:focus {
  background-color: #ffffff1a;
}


.formulario .quadro form .input textarea {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  font-weight: 400;
  background-color: #ffffff10;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  line-height: 1.5;
  transition: all 0.4s;
}


.formulario .quadro form .input textarea::placeholder{
  opacity: 1;
  color: #ffffff6a;
}


.formulario .quadro form .input textarea:focus {
  background-color: #ffffff1a;
}

.formulario .blush{
  width: 1000px;
  height: 1000px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(#1DA6FF , transparent 50%);
  opacity: 0.2;
  z-index: 1;
}

.formulario .blush.um{
  bottom: -300px;
  left: -200px;
  animation: blushOpacidade 10s  linear infinite;
}

.formulario .blush.dois{
  top: -300px;
  right: -200px;
  opacity: 0.4;
  animation: blushOpacidade 10s  linear infinite;
}


@keyframes blushOpacidade  {
  0% {
    opacity: 0.1;
    transform: scale(1);
  }
  50%{
    opacity: 0.5;
    transform: scale(1.3);
  }
  100%{
    opacity: 0.2;
    transform: scale(1);
  }
}

.alerta {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--cor-branco);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  z-index: 5;
}


.alerta h3 {
  font-family: var(--bold);
  font-size: var(--f3);
  color: var(--cor-verde);
}

.alerta p {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-preto);
  font-weight: bolder;
}

/* Responsivo */

@media screen and (max-width:1000px) {
  .formulario  {
    padding: 60px 30px;
  }

  .formulario .quadro .capa{
    height: 150px;
  }

  .formulario .blush{
    width: 700px;
    height: 700px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(#1DA6FF , transparent 50%);
    opacity: 0.2;
    z-index: 1;
  }
}