.clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 0;
}

.clientes .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 80px;
  z-index: 2;
}


.clientes .titulo h2{
  font-family: var(--bold);
  font-size: var(--f5);
  color: var(--cor-branco);
  line-height: 1.3;
  max-width: 600px;
}

.clientes .titulo h2 span{
  font-family: var(--bold);
  font-size: var(--f5);
  color: var(--cor-azul);
}

.clientes .titulo p{
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  line-height: 1.3;
  font-weight: bolder;
  max-width: 600px;
  opacity: 0.7;
  margin: 10px 0 0 0;
}

.clientes .slide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 50px 70px 0 80px;
  overflow-x: scroll;
}


.clientes .slide::-webkit-scrollbar{
  display: none;
}

.clientes .slide .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-width: 200px;
  height: 100px;
  border-radius: 10px;
  min-width: 200px;
  margin: 0 10px 0 0;
  background: linear-gradient(0deg, #101014, #16161b);
  background: -webkit-linear-gradient(0deg, #101014, #161616);
}

.clientes .slide .item img {
  width: 100%;
  max-width: 100px;
}

.clientes .slide .itens {
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  animation: sliderMotion 60s linear infinite;
}

@keyframes sliderMotion {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2800px, 0);
  }
}

/* Responsivo */