* {
  line-height: auto;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: inherit;
  border: none;
}

body,html{
  background-color: var(--cor-preto);
}

::selection{
  color: var(--cor-branco);
  background-color: var(--cor-azul);
}