* {
  line-height: auto;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: inherit;
  border: none;
}

body, html {
  background-color: black;
}

::selection{
  color: white;
  background-color: red;
}